.about-img {
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
    width: 30rem;
    height: 30rem;
}

.about-img:nth-child(2) {
    transform: skew(-15deg)
}

.about-img:hover {
    transform: skew(0);
}

.about-content h1 {
    margin-bottom: 2rem;
}

.about-content p {
    margin-bottom: 1rem;
}

.about-sContainer,
.mission-sContainer {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.vision-sContainer {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}

@media screen and (max-width: 1024px) {
    .about-img {
        width: 60%;
    }

    .about-content h1 {
        margin-bottom: 1.2rem;
    }

    .about-sContainer,
    .mission-sContainer,
    .vision-sContainer {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about-vision,
    .about-img {
        grid-row: 1;
    }
}

@media screen and (max-width:600px) {
    .about-img {
        width: 80%;
        margin-inline: auto;
    }
}